@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: rgb(43, 43, 43);
}



::-webkit-scrollbar {
  width: 5px;
  background-color: #242424;
  height: 5px;
}

::-webkit-scrollbar:hover {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: #adafaf;
  border-radius: 10px;
}


footer {
  margin-top: 400px;
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #d4e1f1;
  border-top: 2px solid #706f6f;
}

footer .me {
  text-align: center;
  width: 500px;

}
footer .icons div {
  margin-top: 10px;
}
footer .icons div img {
  width: 40px;
  margin-left: 20px;
}

footer .icons {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.donutSpinner {
    position: absolute;
    top: 300px;
    left: 50%;
    display: inline-block;
    border: 4px solid hsl(222 100% 95%);
    border-left-color: hsl(243 80% 62%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: donut-spin 1.2s linear infinite;
}

@keyframes donut-spin {
    to {
        transform: rotate(1turn);
    }
}


nav{
  width: 102%;
  height: 10vh;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.links {
  display: flex;
  width: 9cm;
  justify-content: space-around;
}

.redColor {
  color: red;
}

header {
  display: grid;
  text-align: center;
  text-transform: capitalize;
}

header .total-recovered{
  font-size: 1.9rem;
  color: #048168;
  margin: 10px 0 10px 0;
}

header .total-deaths {
    font-family: 'Lato', sans-serif;  
    font-size: 1.9rem;
    font-weight: 600;
    margin: 10px 0 0 0;
    color: #e2301d;
}

header .new-deaths {
  font-family: 'Lato', sans-serif; 
  margin: 10px 0px 20px 0px;
}

header .cases-number {
  font-size: 2.1rem;
  font-family: "Lato" , sans-serif;
  color: #2980b9;
  margin: 10px 0px 10px 0;
}

header .global {
  color : #4b7094;
  margin: 15px ;
}

header .cases {
  font-size: 2.5rem;
}


header .newCases {
  font-size: large;
  font-family: 'Lato', sans-serif;
  margin-bottom: 20px;
}



table {
  width: 80vw;
  margin: 100px 50px 100px 20px;
}



div .searchBox {
  display: grid;
  margin-top: 50px;
  margin-bottom: -60px;
  place-items: center;
}

div .searchBox input {
  width: 25vw;
  height: 1.4cm;
  text-align: center;
  outline: none;
  border: 0;
  border-bottom : 1px solid #aaaaaa;
  font-size: 1.1rem;
}

div .searchBox input:focus {
  transition: .2s;
  width: 35vw;
  border-bottom: 2px solid black;
}




th {
  position: sticky;
  top: 0;
  color: white;
  background-color: lightcoral;
}
thead {
  background-color: lightcoral;
}



table {
  width: 70%;
  border-collapse: collapse;
}